PNG_ABOUT RCDATA "png/about.png"
PNG_ALIGN_CENTER RCDATA "png/align_center.png"
PNG_ALIGN_HORIZONTAL_LEFT RCDATA "png/align_horizontal_left.png"
PNG_ALIGN_HORIZONTAL_RIGHT RCDATA "png/align_horizontal_right.png"
PNG_ALIGN_VERTICAL_BOTTOM RCDATA "png/align_vertical_bottom.png"
PNG_ALIGN_VERTICAL_CENTER RCDATA "png/align_vertical_center.png"
PNG_ALIGN_VERTICAL_TOP RCDATA "png/align_vertical_top.png"
PNG_ANALYTICS RCDATA "png/analytics.png"
PNG_ASPECT_RATIO RCDATA "png/aspect_ratio.png"
PNG_BANDS RCDATA "png/bands.png"
PNG_BARCODE_OBJECT RCDATA "png/barcode_object.png"
PNG_BORDER RCDATA "png/border.png"
PNG_BUG_REPORT RCDATA "png/bug_report.png"
PNG_CALCULATE RCDATA "png/calculate.png"
PNG_CANVAS_COLOR RCDATA "png/canvas_color.png"
PNG_CHECK RCDATA "png/check.png"
PNG_CHECK_CIRCLE RCDATA "png/check_circle.png"
PNG_CLOSE RCDATA "png/close.png"
PNG_CLOUD_SYNC RCDATA "png/cloud_sync.png"
PNG_CODE RCDATA "png/code.png"
PNG_COPY RCDATA "png/copy.png"
PNG_CUT RCDATA "png/cut.png"
PNG_DATAFIELD_OBJECT RCDATA "png/datafield_object.png"
PNG_DATASET RCDATA "png/dataset.png"
PNG_DELETE RCDATA "png/delete.png"
PNG_DESCRIPTION RCDATA "png/description.png"
PNG_DOWNLOAD RCDATA "png/download.png"
PNG_DRAG_INDICATOR RCDATA "png/drag_indicator.png"
PNG_ERROR RCDATA "png/error.png"
PNG_FACT_CHECK RCDATA "png/fact_check.png"
PNG_FILE_OPEN RCDATA "png/file_open.png"
PNG_FLIP_TO_BACK RCDATA "png/flip_to_back.png"
PNG_FLIP_TO_FRONT RCDATA "png/flip_to_front.png"
PNG_FOLDER_OPEN RCDATA "png/folder_open.png"
PNG_FONTS RCDATA "png/fonts.png"
PNG_FORMAT_ALIGN_CENTER RCDATA "png/format_align_center.png"
PNG_FORMAT_ALIGN_JUSTIFY RCDATA "png/format_align_justify.png"
PNG_FORMAT_ALIGN_LEFT RCDATA "png/format_align_left.png"
PNG_FORMAT_ALIGN_RIGHT RCDATA "png/format_align_right.png"
PNG_FUNCTIONS RCDATA "png/functions.png"
PNG_GRID RCDATA "png/grid.png"
PNG_GRID_ON RCDATA "png/grid_on.png"
PNG_HEIGHT RCDATA "png/height.png"
PNG_HELP RCDATA "png/help.png"
PNG_HISTORY RCDATA "png/history.png"
PNG_IMAGE_OBJECT RCDATA "png/image_object.png"
PNG_INFO RCDATA "png/info.png"
PNG_KEYBOARD RCDATA "png/keyboard.png"
PNG_LABEL_OBJECT RCDATA "png/label_object.png"
PNG_LINE_OBJECT RCDATA "png/line_object.png"
PNG_LINK RCDATA "png/link.png"
PNG_MEASURE RCDATA "png/measure.png"
PNG_MEMO_OBJECT RCDATA "png/memo_object.png"
PNG_MEMORY RCDATA "png/memory.png"
PNG_MENU_BOOK RCDATA "png/menu_book.png"
PNG_NEW_FILE RCDATA "png/new_file.png"
PNG_OPEN_WITH RCDATA "png/open_with.png"
PNG_PAGE_COLOR RCDATA "png/page_color.png"
PNG_PAGE_SETTING RCDATA "png/page_setting.png"
PNG_PASTE RCDATA "png/paste.png"
PNG_PICTURE_AS_PDF RCDATA "png/picture_as_pdf.png"
PNG_PIXEL RCDATA "png/pixel.png"
PNG_PLAYLIST_ADD RCDATA "png/playlist_add.png"
PNG_PREVIEW RCDATA "png/preview.png"
PNG_PRINT RCDATA "png/print.png"
PNG_REDO RCDATA "png/redo.png"
PNG_RULE RCDATA "png/rule.png"
PNG_SAVE RCDATA "png/save.png"
PNG_SAVE_AS RCDATA "png/save_as.png"
PNG_SCHEMA RCDATA "png/schema.png"
PNG_SCIENCE RCDATA "png/science.png"
PNG_SEGMENT RCDATA "png/segment.png"
PNG_SELECT_ALL RCDATA "png/select_all.png"
PNG_SETTINGS RCDATA "png/settings.png"
PNG_SHAPES_OBJECT RCDATA "png/shapes_object.png"
PNG_SHOW_RULER RCDATA "png/show_ruler.png"
PNG_SNAP_TO_GRID RCDATA "png/snap_to_grid.png"
PNG_SPEED RCDATA "png/speed.png"
PNG_STORAGE RCDATA "png/storage.png"
PNG_STRAIGHTEN RCDATA "png/straighten.png"
PNG_SUBREPORT_OBJECT RCDATA "png/subreport_object.png"
PNG_SUBTITLES RCDATA "png/subtitles.png"
PNG_SYNC RCDATA "png/sync.png"
PNG_TABLE_CHART RCDATA "png/table_chart.png"
PNG_TABLE_OBJECT RCDATA "png/table_object.png"
PNG_TABLE_ROWS RCDATA "png/table_rows.png"
PNG_TEXT_OBJECT RCDATA "png/text_object.png"
PNG_TIPS_AND_UPDATES RCDATA "png/tips_and_updates.png"
PNG_UNDO RCDATA "png/undo.png"
PNG_VIEW_AGENDA RCDATA "png/view_agenda.png"
PNG_VIEW_HEADLINE RCDATA "png/view_headline.png"
PNG_VIEW_LIST RCDATA "png/view_list.png"
PNG_WARNING RCDATA "png/warning.png"
PNG_WIDTH RCDATA "png/width.png"
PNG_ZOOM_FIT_TO_PAGE RCDATA "png/zoom_fit_to_page.png"
PNG_ZOOM_FIT_WIDTH RCDATA "png/zoom_fit_width.png"
PNG_ZOOM_IN RCDATA "png/zoom_in.png"
PNG_ZOOM_OUT RCDATA "png/zoom_out.png"
