SVG_ABOUT RCDATA "about.svg"
SVG_ALIGN_CENTER RCDATA "align_center.svg"
SVG_ALIGN_HORIZONTAL_LEFT RCDATA "align_horizontal_left.svg"
SVG_ALIGN_HORIZONTAL_RIGHT RCDATA "align_horizontal_right.svg"
SVG_ALIGN_VERTICAL_BOTTOM RCDATA "align_vertical_bottom.svg"
SVG_ALIGN_VERTICAL_CENTER RCDATA "align_vertical_center.svg"
SVG_ALIGN_VERTICAL_TOP RCDATA "align_vertical_top.svg"
SVG_ANALYTICS RCDATA "analytics.svg"
SVG_ASPECT_RATIO RCDATA "aspect_ratio.svg"
SVG_BANDS RCDATA "bands.svg"
SVG_BARCODE_OBJECT RCDATA "barcode_object.svg"
SVG_BORDER RCDATA "border.svg"
SVG_BUG_REPORT RCDATA "bug_report.svg"
SVG_CALCULATE RCDATA "calculate.svg"
SVG_CANVAS_COLOR RCDATA "canvas_color.svg"
SVG_CHECK RCDATA "check.svg"
SVG_CHECK_CIRCLE RCDATA "check_circle.svg"
SVG_CLOSE RCDATA "close.svg"
SVG_CLOUD_SYNC RCDATA "cloud_sync.svg"
SVG_CODE RCDATA "code.svg"
SVG_COPY RCDATA "copy.svg"
SVG_CUT RCDATA "cut.svg"
SVG_DATAFIELD_OBJECT RCDATA "datafield_object.svg"
SVG_DATASET RCDATA "dataset.svg"
SVG_DELETE RCDATA "delete.svg"
SVG_DESCRIPTION RCDATA "description.svg"
SVG_DOWNLOAD RCDATA "download.svg"
SVG_DRAG_INDICATOR RCDATA "drag_indicator.svg"
SVG_ERROR RCDATA "error.svg"
SVG_FACT_CHECK RCDATA "fact_check.svg"
SVG_FILE_OPEN RCDATA "file_open.svg"
SVG_FLIP_TO_BACK RCDATA "flip_to_back.svg"
SVG_FLIP_TO_FRONT RCDATA "flip_to_front.svg"
SVG_FOLDER_OPEN RCDATA "folder_open.svg"
SVG_FONTS RCDATA "fonts.svg"
SVG_FORMAT_ALIGN_CENTER RCDATA "format_align_center.svg"
SVG_FORMAT_ALIGN_JUSTIFY RCDATA "format_align_justify.svg"
SVG_FORMAT_ALIGN_LEFT RCDATA "format_align_left.svg"
SVG_FORMAT_ALIGN_RIGHT RCDATA "format_align_right.svg"
SVG_FUNCTIONS RCDATA "functions.svg"
SVG_GRID RCDATA "grid.svg"
SVG_GRID_ON RCDATA "grid_on.svg"
SVG_HEIGHT RCDATA "height.svg"
SVG_HELP RCDATA "help.svg"
SVG_HISTORY RCDATA "history.svg"
SVG_IMAGE_OBJECT RCDATA "image_object.svg"
SVG_INFO RCDATA "info.svg"
SVG_KEYBOARD RCDATA "keyboard.svg"
SVG_LABEL_OBJECT RCDATA "label_object.svg"
SVG_LINE_OBJECT RCDATA "line_object.svg"
SVG_LINK RCDATA "link.svg"
SVG_MEASURE RCDATA "measure.svg"
SVG_MEMORY RCDATA "memory.svg"
SVG_MEMO_OBJECT RCDATA "memo_object.svg"
SVG_MENU_BOOK RCDATA "menu_book.svg"
SVG_NEW_FILE RCDATA "new_file.svg"
SVG_OPEN_WITH RCDATA "open_with.svg"
SVG_PAGE_COLOR RCDATA "page_color.svg"
SVG_PAGE_SETTING RCDATA "page_setting.svg"
SVG_PASTE RCDATA "paste.svg"
SVG_PICTURE_AS_PDF RCDATA "picture_as_pdf.svg"
SVG_PIXEL RCDATA "pixel.svg"
SVG_PLAYLIST_ADD RCDATA "playlist_add.svg"
SVG_PREVIEW RCDATA "preview.svg"
SVG_PRINT RCDATA "print.svg"
SVG_REDO RCDATA "redo.svg"
SVG_RULE RCDATA "rule.svg"
SVG_SAVE RCDATA "save.svg"
SVG_SAVE_AS RCDATA "save_as.svg"
SVG_SCHEMA RCDATA "schema.svg"
SVG_SCIENCE RCDATA "science.svg"
SVG_SEGMENT RCDATA "segment.svg"
SVG_SELECT_ALL RCDATA "select_all.svg"
SVG_SETTINGS RCDATA "settings.svg"
SVG_SHAPES_OBJECT RCDATA "shapes_object.svg"
SVG_SHOW_RULER RCDATA "show_ruler.svg"
SVG_SNAP_TO_GRID RCDATA "snap_to_grid.svg"
SVG_SPEED RCDATA "speed.svg"
SVG_STORAGE RCDATA "storage.svg"
SVG_STRAIGHTEN RCDATA "straighten.svg"
SVG_SUBREPORT_OBJECT RCDATA "subreport_object.svg"
SVG_SUBTITLES RCDATA "subtitles.svg"
SVG_SYNC RCDATA "sync.svg"
SVG_TABLE_CHART RCDATA "table_chart.svg"
SVG_TABLE_OBJECT RCDATA "table_object.svg"
SVG_TABLE_ROWS RCDATA "table_rows.svg"
SVG_TEXT_OBJECT RCDATA "text_object.svg"
SVG_TIPS_AND_UPDATES RCDATA "tips_and_updates.svg"
SVG_UNDO RCDATA "undo.svg"
SVG_VIEW_AGENDA RCDATA "view_agenda.svg"
SVG_VIEW_HEADLINE RCDATA "view_headline.svg"
SVG_VIEW_LIST RCDATA "view_list.svg"
SVG_WARNING RCDATA "warning.svg"
SVG_WIDTH RCDATA "width.svg"
SVG_ZOOM_FIT_TO_PAGE RCDATA "zoom_fit_to_page.svg"
SVG_ZOOM_FIT_WIDTH RCDATA "zoom_fit_width.svg"
SVG_ZOOM_IN RCDATA "zoom_in.svg"
SVG_ZOOM_OUT RCDATA "zoom_out.svg"
